<ng-template appPlaceholder></ng-template>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- Better way of using App alerts -->
        <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input class="form-control" type="email" id="email" ngModel name="email" required email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" ngModel name="password" required minlength="6">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button> | 
                <button type="button" class="btn btn-primary" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Sign up' : 'Login' }}</button>
            </div>
        </form>
    </div>
</div>